.login{
    border: 1px solid teal;
    width: 500px;
    border-radius: 10px;
    box-shadow: rgba(7, 82, 133, 0.16) 0px 1px 4px;
    padding-bottom: 10px;
    font-family: 'Lora', serif;
    padding: 20px;
}

.login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-inner {
    padding: 30px;
    margin-bottom: -20px;
}

.form-inner input{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    font-size: 16px;
}

.login-wrapper button{
    padding: 10px;
    margin: 5px;
}

.submit-log-in, .icons-icn{
    background-color: #2A5992;
    border: 1px solid transparent;
    font-family: 'Lora', serif;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
}

.home-icon svg{
    font-size: 25px;
    margin-top: 0px;
    /* border: 1px solid red; */
    color: #2A5992;
    margin-left: 10px;
    cursor: pointer;
}

.home-icons{
    display: flex;
    align-items: center;
   
}

@media screen and (max-width: 768px) {
    .login{
        width: 370px;
    }
}