.edit-form{
    /* position: absolute; */
    /* top: 10px; */
    max-width: 400px;
    margin: 30px auto 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(42, 89, 146, 0.2);
    font-family: 'Poppins', sans-serif;
    z-index: 100999900;
}

.job-edit-title{
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.edit-form input[type='text'],
  .edit-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    outline: none;
  }
  
  .edit-form textarea {
    height: 100px;
  }
  
  .edit-form button {
    background-color: #2A5992;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

  }

  .back-prev-state-info{
    height: 100px;
    background-color: #2A5992;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 17em;

  }

  .back-prev-state-info h2{
    color: #fff;
    width: 50%;
    /* margin: 0 auto; */
  }
  
  .back-prev-state-info button{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 16px;
    margin-left: 20px;
    /* margin-top: 20px; */
  }
  
  .edit-form button:hover {
    background-color: #45a049;
  } 

  @media screen and (max-width: 768px) {
    .back-prev-state-info{
        gap: 5em;
    }

    .edit-form{
        width: 330px;
    }
  }
  