.job-card{
    background: rgba(255, 255, 255, 0.2); /* Adjust the alpha (4th value) for transparency */
    backdrop-filter: blur(10px); /* Adjust the blur effect */
    border-radius: 10px; /* Adjust the border radius */
    border: 1px solid rgba(255, 255, 255, 0.473);
    padding: 10px;
    cursor: pointer;
    width: 450px;
    /* padding: 10px; */
}

.card-inner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.card-img img{
    height: 100px;
    width: 100px;
    object-fit: contain;
    border-radius: 50%;
}

.job-card:hover{
    transform: scale(1.01);
}

.apply-btn button{
    background: #2A5992;
    border: 1px solid transparent;
    padding: 8px 20px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    
}

.apply-btn button:hover{
    border: 1px solid #2A5992;
    background: transparent;
    color: rgba(0, 128, 128, 0.705);
}

.job-card p{
    text-align: center;
}

.company-title{
    text-align:  center;
    padding: 10px;
}

.delete-edit-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-edit-section button{
    background-color: transparent;
    padding: 8px 10px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    outline: none;
    border: 1px solid #176B87;
    ;
}

@media screen and (max-width: 768px) {
    .job-card{
        width: 370px;
    }

}
