.home-section{
   
    height: 500px;
    margin-top: 120px;
    background-image: url("https://cdni.iconscout.com/illustration/premium/thumb/muslim-man-teach-islam-8549084-6800163.png");
    /* object-fit: contain; */
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;

    /* border: 1px solid red; */
}


.home-content{
    /* width: 40%; */
    /* margin-top: 90px; */
    padding-top: 40px;
    /* margin-top: 0px; */
    padding-left: 40px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    height: 100%;
    background-image: linear-gradient(to right, rgba(247, 241, 241, 0.671), rgba(82, 28, 28, 0.425));
}

.home-content h1{
    font-size: 3.5rem;
    /* margin-top: -1.5rem; */
    color: #2A5992;
    box-sizing: border-box;

}


.home-btn{
    border: 1px solid #2A5992;
    background: none;
    padding: 12px 30px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s linear;
}

.home-btn:hover{
    background-color: #2A5992;
    color: #fff;
}

.home-section-jobs{
    margin: 50px 0;
    /* border: 1px solid red; */
    font-family: 'Lora', serif;
    padding: 10px;
    background-image: url('https://img.freepik.com/free-photo/moon-light-shine-through-window-into-islamic-mosque-interior_1217-2597.jpg?w=740&t=st=1704191864~exp=1704192464~hmac=2de3f21e679f3875336470856d337c974ce64363e3d93ad9512146bdf666eca3');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.home-section-jobs > h3{
    font-size: 30px;
    text-align: center;
    color: #699ddd;
    margin: 30px 0;
}

.home-section-inner{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
}

.see-jobs-btn{
    text-align: center;
    margin: 30px;
}

.see-jobs-btn button{
    background: rgba(255, 255, 255, 0.2); /* Adjust the alpha (4th value) for transparency */
    backdrop-filter: blur(10px); /* Adjust the blur effect */
    border-radius: 10px; /* Adjust the border radius */
    border: 1px solid rgba(255, 255, 255, 0.473);
    padding: 12px 30px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

.see-jobs-btn button:hover{
    background-color: transparent;
    color: #000;
    border: 1px solid #2A5992;
}

@media screen and (max-width: 768px) {
    .home-content h1 {
        color: #071629;
        font-size: 40px;
        margin-top: -40px;
        margin-left: -10px;
    }

    .home-section-inner{
        grid-template-columns: repeat(1, auto);
        justify-content: center;
        gap: 10px;
    }

    .home-btn{
        margin-left: -12px;
        /* border: 1px solid red; */
    }
}