.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 100;
    margin-bottom: 30px;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .logo h3 {
    margin: 0;
    font-size: 24px;
    color: #2a5992;
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .nav-links {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 10px;
  }
  
  /* .nav-links li {
    margin-right: 20px;
    text-decoration: none;

  } */

  .nav-links  a{
    text-decoration: none;
    color: #365486;
    padding: 8px 15px;
  }

  .menu-icon svg{
    font-size: 24px;
    color:#2a5992;
  }
  
.nav-links a.active{
  background-color: #2a5992;
  color: #fff;
  
}

.user-name-profile{
  /* display: inline-block; */
  border: 1px solid teal;
  /* padding: 8px 15px; */
  /* padding-top: 8px; */
  padding: 0 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.profile-img-user img{
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 50%;
  margin-top: 2px;
}

  @media screen and (max-width: 768px) {
    .navbar{
      /* border: 1px solid red; */
    }
    .menu-icon {
      display: block;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      background-color: #fff;
      padding: 20px 0;
      position: absolute;
      top: 60px; /* Adjust as needed */
      left: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .nav-links.active {
      display: flex;
    }

    .nav-links a.active{
      width: 30%;
      margin: 0 auto;
    }

    .user-name-profile{
      width: 40%;
      margin: 0 auto;
    }
  }
  

  
